.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20vw 5vh 20vw;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 1000px;
}

.cell {
    border: 1px solid black;
}