.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 20vw 2vh 20vw;
}

.container {
    display: flex;
    justify-content: center;
}

.board {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 88vh;
    width: 90vw;
    border: 1px dotted black;
}

.cell {
    border: 1px dotted black;
}